body {
  margin: 0;
  background-color: white;
  background: url(https://images.unsplash.com/photo-1651301872622-c60c76388485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .navbutton {
  height: 50%;
} */

#home {
  display: flex;
  justify-content: space-evenly;
}

#create-user-form {
  visibility: hidden;
  max-width: 0;
}

#title {
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px rgb(0, 0, 0, 0.5);
}

#login-form {
  visibility: hidden;
  max-width: 0;
}

#comment-content {
  font-size: small;
}

#comment-author {
  font-size: small;
  border-bottom: 1px solid white;
}

button, select {
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

#submit-comment {
  color: black;
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

#comment-input {
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  margin: 3px;
}

#post-content {
  font-size: larger;
  border-radius: 5px;
  background-color: rgb(255, 246, 247);
  padding: 10px;
}

.communities {
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  justify-content: center;
}

#posts {
  background-color: rgba(204, 138, 99, 0.6);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 500px;
}

.show-off {
  display: none;
}

.show-on {
  color: white;
}

#comment-input {
  width: 80%;
  height: 2em;
  line-height: 1em;
  color: rgb(20, 20, 20);
}