body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbutton {
  height: 50%;
}

#home {
  display: flex;
  justify-content: space-evenly;
}

#create-user-form {
  visibility: hidden;
  max-width: 0;
}

#login-form {
  visibility: hidden;
  max-width: 0;
}

#comment-content {
  font-size: small;
}

#post-content {
  font-size: larger;
}

#communities {
  display: flex;
  flex-direction: column;
  text-align: center;
}